In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
dados = pd.read_csv("https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/latest/owid-covid-latest.csv")
dados.head()

,iso_code,continent,location,last_updated_date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2023-09-13,225568.0,0.0,16.571,7945.0,0.0,0.143,...,NaN,37.746,0.50,64.83,0.511,4.112877e+07,NaN,NaN,NaN,NaN
1,OWID_AFR,NaN,Africa,2023-09-13,13107249.0,0.0,45.286,259009.0,0.0,0.143,...,NaN,NaN,NaN,NaN,NaN,1.426737e+09,NaN,NaN,NaN,NaN
2,ALB,Europe,Albania,2023-09-13,334090.0,0.0,0.000,3604.0,0.0,0.000,...,51.2,NaN,2.89,78.57,0.795,2.842318e+06,NaN,NaN,NaN,NaN
3,DZA,Africa,Algeria,2023-09-13,271852.0,0.0,0.000,6881.0,0.0,0.000,...,30.4,83.741,1.90,76.88,0.748,4.490323e+07,NaN,NaN,NaN,NaN
4,ASM,Oceania,American Samoa,2023-09-13,8341.0,0.0,0.000,34.0,0.0,0.000,...,NaN,NaN,NaN,73.74,NaN,4.429500e+04,NaN,NaN,NaN,NaN

In [3]:
dados_nulos_drop = dados.isnull().sum() > 200
dados_nulos_drop = dados_nulos_drop.loc[dados_nulos_drop == True]
for colunas in dados_nulos_drop.index:
  dados.drop(colunas,axis=1,inplace=True)

In [4]:
colunas_numericas = dados.select_dtypes('float')
colunas_numericas

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population
0,225568.0,0.0,16.571,7945.0,0.0,0.143,5484.433,0.0,0.403,193.174,...,NaN,597.029,9.59,NaN,NaN,37.746,0.500,64.83,0.511,4.112877e+07
1,13107249.0,0.0,45.286,259009.0,0.0,0.143,9186.874,0.0,0.032,181.539,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.426737e+09
2,334090.0,0.0,0.000,3604.0,0.0,0.000,117541.387,0.0,0.000,1267.979,...,1.1,304.195,10.08,7.100,51.200,NaN,2.890,78.57,0.795,2.842318e+06
3,271852.0,0.0,0.000,6881.0,0.0,0.000,6054.175,0.0,0.000,153.241,...,0.5,278.364,6.73,0.700,30.400,83.741,1.900,76.88,0.748,4.490323e+07
4,8341.0,0.0,0.000,34.0,0.0,0.000,188305.678,0.0,0.000,767.581,...,NaN,283.750,NaN,NaN,NaN,NaN,NaN,73.74,NaN,4.429500e+04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,3550.0,0.0,0.000,8.0,0.0,0.000,306140.048,0.0,0.000,689.893,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.94,NaN,1.159600e+04
246,770562703.0,0.0,2510.857,6957203.0,0.0,9.000,96621.010,0.0,0.315,872.365,...,10.0,233.070,8.51,6.434,34.635,60.130,2.705,72.58,0.737,7.975105e+09
247,11945.0,0.0,0.000,2159.0,0.0,0.000,354.487,0.0,0.000,64.072,...,18.8,495.003,5.35,7.600,29.200,49.542,0.700,66.12,0.470,3.369661e+07
248,349287.0,0.0,0.000,4069.0,0.0,0.000,17448.934,0.0,0.000,203.270,...,57.5,234.499,3.94,3.100,24.700,13.938,2.000,63.89,0.584,2.001767e+07
249,265742.0,0.0,0.714,5718.0,0.0,0.143,16282.673,0.0,0.044,350.356,...,21.4,307.846,1.82,1.600,30.700,36.791,1.700,61.49,0.571,1.632054e+07

In [5]:
primeiro_quartil = colunas_numericas.quantile(0.25)
terceiro_quartil = colunas_numericas.quantile(0.75)
distancia = terceiro_quartil - primeiro_quartil
limite_superiror = terceiro_quartil + 1.5 * distancia
limite_inferiror = primeiro_quartil - 1.5 * distancia

In [6]:
outliers = limite_superiror > colunas_numericas
(outliers == True).sum()

total_cases                        198
new_cases                            0
new_cases_smoothed                   0
total_deaths                       203
new_deaths                           0
new_deaths_smoothed                  0
total_cases_per_million            244
new_cases_per_million                0
new_cases_smoothed_per_million       0
total_deaths_per_million           234
new_deaths_per_million               0
new_deaths_smoothed_per_million      0
population_density                 193
median_age                         198
aged_65_older                      191
aged_70_older                      195
gdp_per_capita                     186
extreme_poverty                    117
cardiovasc_death_rate              194
diabetes_prevalence                197
female_smokers                     147
male_smokers                       143
handwashing_facilities              96
hospital_beds_per_thousand         167
life_expectancy                    231
human_development_index            189
population                         220
dtype: int64

In [7]:
lista_outliers = outliers.sum() > 0
lista_outliers = lista_outliers.loc[lista_outliers == True]
lista_outliers

total_cases                   True
total_deaths                  True
total_cases_per_million       True
total_deaths_per_million      True
population_density            True
median_age                    True
aged_65_older                 True
aged_70_older                 True
gdp_per_capita                True
extreme_poverty               True
cardiovasc_death_rate         True
diabetes_prevalence           True
female_smokers                True
male_smokers                  True
handwashing_facilities        True
hospital_beds_per_thousand    True
life_expectancy               True
human_development_index       True
population                    True
dtype: bool