In [1]:
import pandas as pd
import numpy as np

In [30]:
dados = pd.read_csv("https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/latest/owid-covid-latest.csv")
dados.head()

,iso_code,continent,location,last_updated_date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2023-09-13,225568.0,0.0,16.571,7945.0,0.0,0.143,...,NaN,37.746,0.50,64.83,0.511,4.112877e+07,NaN,NaN,NaN,NaN
1,OWID_AFR,NaN,Africa,2023-09-13,13107249.0,0.0,45.286,259009.0,0.0,0.143,...,NaN,NaN,NaN,NaN,NaN,1.426737e+09,NaN,NaN,NaN,NaN
2,ALB,Europe,Albania,2023-09-13,334090.0,0.0,0.000,3604.0,0.0,0.000,...,51.2,NaN,2.89,78.57,0.795,2.842318e+06,NaN,NaN,NaN,NaN
3,DZA,Africa,Algeria,2023-09-13,271852.0,0.0,0.000,6881.0,0.0,0.000,...,30.4,83.741,1.90,76.88,0.748,4.490323e+07,NaN,NaN,NaN,NaN
4,ASM,Oceania,American Samoa,2023-09-13,8341.0,0.0,0.000,34.0,0.0,0.000,...,NaN,NaN,NaN,73.74,NaN,4.429500e+04,NaN,NaN,NaN,NaN

In [31]:
dados.isnull().sum()

iso_code                                     0
continent                                   12
location                                     0
last_updated_date                            0
total_cases                                  6
                                          ...
population                                   0
excess_mortality_cumulative_absolute       250
excess_mortality_cumulative                250
excess_mortality                           250
excess_mortality_cumulative_per_million    250
Length: 67, dtype: int64

In [32]:
dados_nulos_drop = dados.isnull().sum() > 200
dados_nulos_drop = dados_nulos_drop.loc[dados_nulos_drop == True]
for colunas in dados_nulos_drop.index:
  dados.drop(colunas,axis=1,inplace=True)

In [38]:
dados_nulos = dados.isnull().sum() == 0
dados_nulos = dados_nulos.loc[dados_nulos == False]
colunas_numericas = dados.select_dtypes('float') 
media_de_cada_coluna = colunas_numericas.mean()
media_de_cada_coluna = media_de_cada_coluna.round(3)
for colunas in dados_nulos.index:
  dados.fillna(media_de_cada_coluna,inplace=True)

In [34]:
dados.head()

,iso_code,continent,location,last_updated_date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population
0,AFG,Asia,Afghanistan,2023-09-13,225568.0,0.0,16.571,7945.0,0.0,0.143,...,13.848413,597.029000,9.590000,10.790027,32.909897,37.746000,0.500000,64.830000,0.511000,4.112877e+07
1,OWID_AFR,NaN,Africa,2023-09-13,13107249.0,0.0,45.286,259009.0,0.0,0.143,...,13.848413,264.267617,8.562195,10.790027,32.909897,50.788844,3.097012,73.641818,0.721302,1.426737e+09
2,ALB,Europe,Albania,2023-09-13,334090.0,0.0,0.000,3604.0,0.0,0.000,...,1.100000,304.195000,10.080000,7.100000,51.200000,50.788844,2.890000,78.570000,0.795000,2.842318e+06
3,DZA,Africa,Algeria,2023-09-13,271852.0,0.0,0.000,6881.0,0.0,0.000,...,0.500000,278.364000,6.730000,0.700000,30.400000,83.741000,1.900000,76.880000,0.748000,4.490323e+07
4,ASM,Oceania,American Samoa,2023-09-13,8341.0,0.0,0.000,34.0,0.0,0.000,...,13.848413,283.750000,8.562195,10.790027,32.909897,50.788844,3.097012,73.740000,0.721302,4.429500e+04