In [1]:
from pprint import pprint
import matplotlib.pyplot as plt 
import pandas as pd 
import numpy as np 
import seaborn as sns 
import zipfile 
import re

In [2]:
dados_zip = zipfile.ZipFile('dados/nlp-getting-started.zip') 
dados = ' '.join(dados_zip.namelist())
dados

'sample_submission.csv test.csv train.csv'

In [3]:
test = pd.read_csv(dados_zip.open('test.csv')) 
test.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [4]:
treino = pd.read_csv(dados_zip.open('train.csv'),encoding='latin-1')
treino.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [5]:
treino.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

In [6]:
treino.isnull().sum()

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64

In [7]:
treino['location'].value_counts()
treino['location'].replace("United States","USA",inplace=True)

In [8]:
treino['location'].value_counts()

location
USA                       154
New York                   71
London                     45
Canada                     29
Nigeria                    28
                         ...
MontrÃÂ©al, QuÃÂ©bec      1
Montreal                    1
ÃÃT: 6.4682,3.18287       1
Live4Heed??                 1
Lincoln                     1
Name: count, Length: 3340, dtype: int64

In [10]:
with open('arquivos.txt','w') as arquivo:
    for palavra in treino['text']:
        palavra_str = str(palavra).split()
        arquivo.write('\n'.join(palavra_str))

In [11]:
treino['target'].value_counts()

target
0    4342
1    3271
Name: count, dtype: int64